.Main{
    width: 40%;
    min-height: 350px;
    border: 2px solid;
    margin: auto;
    border-radius: 10px;
}

.header{
    padding: 40px;
    text-align: center;
    font-weight: 500;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    line-height: 24px;
}

button{
    background-color: var(--gm-fillbutton-container-color,#1a73e8);
    color: white;
}