<div class="Main">

    <div class="header">
        <span style="color:#4285F4">F</span>
        <span style="color:#DB4437">u</span>
        <span style="color:#F4B400">n</span>
        <span style="color:#4285F4">d</span>
        <span style="color:#0F9D58">o</span>
        <span style="color:#DB4437">o</span>

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username">
            <mat-icon matSuffix></mat-icon>
            <mat-hint></mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password">
            <mat-icon matSuffix></mat-icon>
            <mat-hint></mat-hint>
          </mat-form-field>
        </p>
        
        <button mat-button color="primary">Submit</button>

    </div>

</div>
