






  <!-- <div class="fundooName">
    <span style="color:#4285F4">F</span>
    <span style="color:#DB4437">u</span>
    <span style="color:#F4B400">n</span>
    <span style="color:#4285F4">d</span>
    <span style="color:#0F9D58">o</span>
    <span style="color:#DB4437">o</span>
  </div> -->



<!-- <div class="createAcc">
  <span>Create your Fundoo Account</span>
</div>

<div class="inputName">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="First Name">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Last Name">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
</div>

<div class="inputUserName">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Username">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>You can use letters,numbers & periods</mat-hint>
    </mat-form-field>
  </p>
  <b>Use my current email address instead</b>
</div>

<div class="password">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Password">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols
      </mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Confirm">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
</div>

<div class="button">
  <button mat-button color="primary">Next</button>
</div>



</mat-card> -->