<div class="Main">

    <div class="header">
      
      <span style="color:#4285F4">F</span>
      <span style="color:#DB4437">u</span>
      <span style="color:#F4B400">n</span>
      <span style="color:#4285F4">d</span>
      <span style="color:#0F9D58">o</span>
      <span style="color:#DB4437">o</span>
      
      <p>Create your Fundoo Account</p>
      
        <div class="inputName">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="First Name">
              <mat-icon matSuffix></mat-icon>
              <mat-hint></mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last Name">
              <mat-icon matSuffix></mat-icon>
              <mat-hint></mat-hint>
            </mat-form-field>
          </p>
        </div>
  
        <div class="inputName">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username">
              <mat-icon matSuffix></mat-icon>
              <mat-hint>You can use letters,numbers & periods</mat-hint>
            </mat-form-field>
          </p>
        </div>

        <p class="text">Use my current email address instead<p>

        <div class="inputName">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password">
              <mat-icon matSuffix></mat-icon>
              <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Confirm</mat-label>
              <input matInput placeholder="Confirm">
              <mat-icon matSuffix></mat-icon>
              <mat-hint></mat-hint>
            </mat-form-field>
          </p>
        </div>

        <mat-checkbox class="example-margin">Show Password</mat-checkbox>

        <div class="button">
          <button mat-button color="primary">Next</button>
          <p class="text">Sign in instead<p></p>
        </div>
        
    </div>
</div>