.Main{
    border: 1px solid;
    border-color: lightgray;
    margin: auto;
    border-radius: 8px;
    width: 70%;
    height: auto;
    min-height: 500px;
}

.left-div{
    width: 70%;
    padding: 40px;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
}

.right-div{
    width: 50%;
    height: 182px;
}

h1{
    font-size: xx-large;
    font-weight: 100;
}

.form-group{
    font-size: small;
}

.text{
    font-size: small;
    color:var(--gm-fillbutton-container-color,#1a73e8);
}

h3{
    font-size: medium;
    color:var(--gm-fillbutton-container-color,#1a73e8);
}

span{
    font-size: large;
    text-align: center;
}

.example-margin{
    font-size: smaller;
}

button{
    background-color: var(--gm-fillbutton-container-color,#1a73e8);
    color: white;
}
