.Main{
    width: 668px;
    border: 2px solid;
    margin: auto;
    border-radius: 10px
}

.left-div{
    width: 500px;
}

h1{
    font-size: xx-large;
    font-weight: 100;
}

.header{
    padding: 40px;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
}

.inputName{
    font-size: small;
}

.userName{
    font-size: small;
    
}

.text{
    font-size: small;
    color:var(--gm-fillbutton-container-color,#1a73e8);
}

span{
    font-size: smaller;
}

.example-margin{
    font-size: smaller;
}

button{
    background-color: var(--gm-fillbutton-container-color,#1a73e8);
    color: white;
}