.fundooName{
    position: absolute;
    left: 115px;
    top: 90px;
    font-size: xx-large;
    font-weight: 500;
}

/* .createAcc{
    position: absolute;
    left: 115px;
    top: 149px;
    font-size: x-large;
    font-family: 'Roboto';
}

.inputName{
    display: flex;
}

/* .inputUserName input{
    width: 338px;
}

b{
    font-size: medium;
    color: blue;
}


.button{
    margin-left: 260px;
    font-size: initial;
    border: 1px solid;
    background-color: cornflowerblue;
    color: white;
}  */